<div class="container-fluid">
 <!-- <div class="row mt-2">
   <div class="col-12">
     <div class="form-group">
     <input type="text" class="form-control" placeholder="Search by Name.." [(ngModel)]="countryName">
     </div>
   </div>
</div> -->

  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>


  <div class="row" infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()">
      
    <div class="col-12 col-md-6 col-lg-3 mt-2" *ngFor="let country of posts">

      <div class="card bg-custom bg-dark text-white" style="min-height: 712px">
        <div class="card-header">
          <h5>{{country.name | uppercase}}</h5>
          
        </div>
        <div class="img-ratio">
          <img class="card-img-top img-fluid" [src]="country.flag" alt="Card image cap">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p><strong>Capital: <span>{{country.capital}}</span></strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 br-1">
              <p>Region: <span>{{country.region}}</span></p>
            </div>
            <div class="col-7">
              <p>Population: {{country.population}}</p>
              <p>Area(sq.km): {{country.area}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <strong>Currencies:</strong> <p *ngFor="let money of country.currencies; let i = index">
                <span *ngIf = "i < 1">
                    {{money.name}}-{{money.symbol}}
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <strong>Languages:</strong> <p *ngFor="let language of country.languages">{{language.name}}</p>
            </div>
            <div class="col-7">
              <strong>Local Time: <p *ngFor="let timezone of country.timezones; let i = index">
                <span *ngIf = "i < 1">
                    {{ today | date:'shortTime': timezone}} ({{timezone}})
              </span>
            </p></strong>
            </div>
          </div>

        </div>
      </div>
  </div>
  </div>
</div>
