
/* .bg-custom {
  /*background: #314755; !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #314755, #26a0da); !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #314755, #26a0da);*/
  /*background: #12c2e9; !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*background: #8E2DE2;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #4A00E0, #8E2DE2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

/* } */ 
.img-ratio {
  width: 100%;
  height: auto;
}
.br-1 {
  border-right: 1px solid white;
}
.r-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-results {
  height: 20rem;
  overflow: scroll;
}
